.list {
    width: 100%;
}

.list > li {
    margin-bottom: 0.5rem;
}

.alert {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 1.5rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
}