@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Zen+Loop:ital@0;1&display=swap');

/*
    --color-purple: #8758ff;
    --color-black: #1A1A40;
    --color-white: #fff;
*/

:root {
    --color-purple: #825ed8;
    --color-bluish: #440999;
    --color-black: #01000e;
    --color-yellow: #facb1e;
    --color-white: #fefefe;
    --color-pink: #f805d1;
    --font-space-grotesk: "Space Grotesk", sans-serif;
    --font-zen-loop: "Zen Loop", cursive;
}

* {
    font-family: var(--font-space-grotesk);
    box-sizing: border-box;
}

body {
    background: cornflowerblue;
}

h1 {
    font-family: var(--font-zen-loop);
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
    color: var(--color-white);
    margin-bottom: 0.5rem;
}

h2 {
    font-family: var(--font-zen-loop);
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: left;
    color: var(--color-white);
    margin-bottom: 0.5rem;
}

.flexCont {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
}










.TodoWrapper {
    background: var(--color-black);
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
}

.TodoForm {
    width: 100%;
    margin-bottom: 1rem;
}

.todo-input {
    outline: none;
    background: none;
    border: 1px solid var(--color-purple);
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 300px;
    color: var(--color-white);
}

.todo-input::placeholder {
    color: #ffffff4d;
}

.todo-btn {
    background: var(--color-purple);
    color: var(--color-white);
    border: none;
    padding: 0.55rem;
    cursor: pointer;
}

.Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-purple);
    color: var(--color-white);
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.fa-trash {
    margin-left: 0.75rem;
}

.incompleted {
    color: var(--color-white);
    cursor: pointer;
}

.completed {
    color: #c5aeff;
    text-decoration: line-through;
    cursor: pointer;
}

.edit-icon,
.delete-icon {
    cursor: pointer;
}