@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Zen+Loop:ital@0;1&display=swap');

:root {
    --color-purple: #825ed8;
    --color-bluish: #440999;
    --color-black: #01000e;
    --color-yellow: #facb1e;
    --color-white: #fefefe;
    --color-pink: #f805d1;
    --font-space-grotesk: "Space Grotesk", sans-serif;
    --font-zen-loop: "Zen Loop", cursive;
}

* {
    font-family: var(--font-space-grotesk);
    box-sizing: border-box;
}

body {
    background: cornflowerblue;
}

p, span {
    font-size: 16px;
}

h1 {
    font-family: var(--font-zen-loop);
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
    color: var(--color-white);
    margin-bottom: 0.5rem;
}

h2 {
    font-family: var(--font-zen-loop);
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: left;
    color: var(--color-white);
    margin-bottom: 0.5rem;
}

.flexCont {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
}

.flexCont.tasklist, .flexCont.form {
    width: 100%;
}